.header{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: rgba(105, 200, 200,0.5);
    align-items: center;
    justify-content: space-around;
    
}
.item{
    cursor: pointer;
}