.detail{
    width: 80%;
    margin-left: 10%;
    .head{
        width: 100%;
        padding: 20px 0;
        position: relative;
        border-bottom: 2px solid rgb(29, 182, 131);
        .project{
            font-size: 30px;
            font-weight: bolder;
            color: rgb(29, 182, 131);
        }
        .pagetype{
            margin-left: 20px;
            font-size: 18px;
            font-weight: bolder;
        }
       
    }
    .housename{
        margin-top: 20px;
        font-weight: bold;
        font-size: 35px;
        width: 100%;
    }
    .content{
        padding-top: 20px;
        position: relative;
        .details{
            position: absolute;
            top: 20px;
            right: 0;
            width: 35%;
            .tip{
                position: absolute;
                top: 0;
                width: 100%;
                background-color: rgb(251,247,241);
                padding: 10px;
                box-sizing: border-box;
                .ad{
                    display: inline-block;
                    padding: 2px;
                    text-align: center;
                    width: 80px;
                    color: rgb(251,218,165);
                    background-color: rgb(73,50,23);
                    font-size: 18px;
                }
                .vr{
                    margin-left: 15px;
                    font-weight: 600;
                }
                .collect{
                    position: absolute;
                    right: 10px;
                    color: rgba(0, 0, 0,0.3);
                    font-size: 20px;
                    transition: 100ms;
                    cursor: pointer;
                    &:hover{
                        color: orange;
                    }
                }
               
            }
            .message{
                position: absolute;
                top: 60px;
                width: 100%;
                .price{
                    font-size: 40px;
                    font-weight: bold;
                    color: rgb(253,76,56);
                    .per{
                        display: inline-block;
                        font-size: 18px;
                        color: rgba(0,0,0,0.5);
                    }
                }
                .newprice{
                    color: rgba(0, 0, 0,0.8);
                    font-weight: bold;
                    font-size: 20px;
                    .per{
                        color: rgb(253,76,56);
                        font-size: 40px;
                    }
                }
                .base{
                    margin-top: 20px;
                    display: flex;
                    gap: 30px;
                    text-align: center;
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                .zx{
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(0,0,0,0.5);
                }
                .kp{
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(0,0,0,0.5);
                }
                }
                .ts{
                    margin-top: 20px;
                    display: flex;
                    gap: 20px;
                    .tsitem{
                        background-color:rgb(245,247,249);
                        padding: 0 5px;
                        border-radius: 3px;
                        color: rgba(0,0,0,0.5);
                    }
                }
                .address{
                    margin-top: 20px;
                }
                .manager{
                    margin-top: 20px;
                }
            }
            .map{
                position: absolute;
                top: 330px;
                right: 0;
                width: 100%;
                height: 190px;
                background-color: antiquewhite;
            }
           
        }
        .lb{
            position: absolute;
            left: 0;
            @mixin block{
                width: 90%;
                .item{
                    width: 100%;
                    .dot{
                        margin-top: 20px;
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        .line{
                            border: 3px solid rgb(29, 182, 131);
                            box-sizing: border-box;
                            border-radius: 2px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                    .survey-detail{
                        margin-top: 10px;
                    }
                }
            }
            .survey{
                margin-top: 50px;
                width: 750px;
                .title{
                    font-size: 20px;
                    font-weight: bold;
                }
                @include block
            }
            .householdtype{
                margin-top: 50px;
                width: 750px;
                .title{
                    font-size: 20px;
                    font-weight: bold;
                }
                .items{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    .block{
                        border: 1px solid rgba(0, 0, 0,0.1);
                        padding: 10px;
                        box-sizing: border-box;
                        width: 32%;
                        text-align: center;
                        margin-top: 20px;
                        .img{
                            width: 100%;
                        }
                        .size{
                            font-size: 15px;
                            font-weight: bold;
                        }
                        .price{
                            color: rgb(253,76,56);
                            font-size: 20px;
                            font-weight: bold;
                            .per{
                                color:rgba(0, 0, 0,0.5);
                                font-size: 16px;
                                font-weight: 500;
                                margin-left: 20px;
                            }
                            
                        }
                    }
                }
              
            }
            .comment{
                
                @mixin abab{
                    white-space: nowrap;         /* 防止文字换行 */
                    overflow: hidden;            /* 隐藏超出容器的内容 */
                    text-overflow: ellipsis;    /* 显示省略号 */
                }
                margin-top: 50px;
                width: 750px;
                & .title{
                    font-size: 20px;
                    font-weight: bold;
                }
                .qs{
                    margin-top: 20px;
                    cursor: pointer;
                    position: relative;
                    &:hover{
                        box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
                    }
                    padding: 10px;
                    .question{
                        width: 80%;
                        .icon{
                            color: white;
                            background-color: rgb(255,146,54);
                            font-size: 13px;
                            padding: 2px;
                            margin-right: 10px;
                        }
                        @include abab
                    }
                    .answer{
                        margin-top: 15px;
                        width: 80%;
                        @include abab;
                        .icon{
                            color: white;
                            background-color:  rgb(98,171,0);
                            font-size: 13px;
                            padding: 2px;
                            margin-right: 10px;
                        }
                        .time{
                            color: rgba(0,0,0,0.5);
                            font-size: 13px;
                            position: absolute;
                            right: 3%;
                        }
                    }
                    .all{
                        color: rgba(0,0,0,0.5);
                        font-size: 13px;
                        margin-top: 10px;
                    }
                }
                .more{
                    margin-top: 30px;
                    width: 25%;
                    border: 2px solid rgb(29, 182, 131);
                    color: rgb(29, 182, 131);
                    text-align: center;
                    padding: 10px;
                    font-size: 20px;
                    cursor: pointer;
                    transition: 100ms;
                    &:hover{
                        background-color: rgb(29, 182, 131);
                        color: white;
                    }
                }
            }
        }
        @mixin abab{
            white-space: nowrap;         /* 防止文字换行 */
            overflow: hidden;            /* 隐藏超出容器的内容 */
            text-overflow: ellipsis;    /* 显示省略号 */
        }
        .alike{
            position: absolute;
            right: 0;
            top:95%;
            width: 35%;
            & .title{
                font-size: 20px;
                font-weight: bold;
            }
            .houseitem{
                width: 100%;
                padding:10px  0 ;
                border-bottom: 1px solid rgba(0, 0, 0,0.1);
                margin-top: 20px;
                position: relative;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
                }
                & .imgs{
                    width: 25%;
                }
                & .title{
                    position: absolute;
                    left: 28%;
                    top: 5%;
                    font-size: 20px;
                    font-weight: bold;
                    max-width: 62%;
                    @include abab
                }
                & .size{
                    position: absolute;
                    left: 28%;
                    top: 30%;
                    color: rgba(0, 0, 0,0.6);
                    font-size: 18px;
                    width: 62%;
                    @include abab
                }
                & .address{
                    position: absolute;
                    left: 28%;
                    top: 50%;
                    color: rgba(0, 0, 0,0.6);
                    font-size: 18px;
                    width: 62%;
                    @include abab
                }
           
                & .price{
                    position: absolute;
                    right: 3%;
                    top: 20%;
                    font-size: 28px;
                    color: rgb(253,76,56);
                    font-weight: bold;
                    .per{
                        color: rgba(0, 0, 0,0.5);
                        position: absolute;
                        font-size: 16px;
                        right: 0;
                    }
                    
                }
                .newprice{
                    color: rgba(0, 0, 0,0.8);
                    position: absolute;
                    right: 3%;
                    top: 30%;
                    font-weight: bold;
                    .per{
                        color: rgb(253,76,56);
                        font-size: 28px;
                    }
                }
                & .ts{
                    position: absolute;
                    left: 28%;
                    top: 75%; 
                    display: flex;
                    gap: 10px;
                    & .tsitems{
                        color: rgba(0, 0, 0,0.6);
                        font-size: 16px;
                        background-color:rgb(103,205,219);
                        padding: 0 5px;
                        color: white;
                        border-radius: 3px;
                    }
                }
           
            }
        }
     
    }
}