.detail{
    width: 80%;
    margin-left: 10%;
    .head{
        width: 100%;
        padding-top: 20px;
        position: relative;
        .project{
            font-size: 30px;
            font-weight: bolder;
            color: rgb(29, 182, 131);
        }
        .pagetype{
            margin-left: 20px;
            font-size: 18px;
            font-weight: bolder;
        }
       
    }
    .housename{
        margin-top: 20px;
        font-weight: bold;
        font-size: 35px;
        width: 100%;
    }
    .content{
        padding-top: 20px;
        position: relative;
        .details{
            position: absolute;
            top: 20px;
            right: 0;
            min-width: 35%;
            .tip{
                position: absolute;
                top: 0;
                width: 100%;
                background-color: rgb(251,247,241);
                padding: 10px;
                .ad{
                    display: inline-block;
                    padding: 2px;
                    text-align: center;
                    width: 80px;
                    color: rgb(251,218,165);
                    background-color: rgb(73,50,23);
                    font-size: 18px;
                }
                .vr{
                    margin-left: 15px;
                    font-weight: 600;
                }
                .price{
                    height: 50px;
                    margin-top: 20px;
                    font-size: 40px;
                    font-weight: bold;
                    color: rgb(253,76,56);
                    line-height: 50px;
                    span{
                        color: black;
                        font-size: 18px;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}