.Newhome{
    width: 80%;
    margin-left: 10%;
    position: relative;
    .head{
        width: 100%;
        padding-top: 20px;
        position: relative;
        .project{
            font-size: 30px;
            font-weight: bolder;
            color: rgb(29, 182, 131);
        }
        .pagetype{
            margin-left: 20px;
            font-size: 18px;
            font-weight: bolder;
        }
        .searchinput{
            position: absolute;
            right: 10%;
            width: 40%;
        }
        .but{
            position: absolute;
            right: 00%;
        }
    }
    .chat{
        width: 100%;
        background-color:  rgb(35,201,147);
        margin-top: 20px;
        color: white;
        font-size: 18px;
        padding: 0 5px;
        box-sizing: border-box;
    }
    .searchpart{
        width: 100%;
        margin-top: 20px;
    }
   @mixin abab{
        white-space: nowrap;         /* 防止文字换行 */
        overflow: hidden;            /* 隐藏超出容器的内容 */
        text-overflow: ellipsis;    /* 显示省略号 */
    }
    .newcontent{
        margin-top: 20px;
        width: 100%;
        position: relative;
        .newhead{
            width: 70%;
            border-bottom: 2px solid  rgb(35,201,147);
            display: flex;
            .headitm{
                color: black;
                font-weight: bold;
                font-size: 18px;
                width: 100px;
                text-align: center;
                padding: 5px;
                transition: 200ms;
                box-sizing: border-box;
                cursor: pointer;
                &:hover{
                    color: white;
                    background-color: rgb(35,201,147);
                }
            }
            .headitmclick{
                background-color: rgb(35,201,147);
                color: white;
            }
        }
        .newhouse{
            position: absolute;
            left: 0;
            top: 50px;
            width: 70%;
            padding-bottom: 80px;
            .houseitem{
                width: 100%;
                padding:10px  0 ;
                border-bottom: 1px solid rgba(0, 0, 0,0.1);
                box-sizing: border-box;
                margin-top: 10px;
                position: relative;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
                }
                & .img{
                    width: 20%;
                }
                & .title{
                    position: absolute;
                    left: 22%;
                    top: 5%;
                    font-size: 20px;
                    font-weight: bold;
                    max-width: 62%;
                    @include abab
                }
                & .hot{
                    position: absolute;
                    width: 90px;
                    text-align: center;
                    border-radius: 5px;
                    right: 2%;
                    top: 5%;
                    font-size: 16px;
                    font-weight: bold;
                    background-color: rgb(253,76,56);
                    color:white;
                    padding: 3px 3px;
                    box-sizing: border-box;
                }
                & .size{
                    position: absolute;
                    left: 22%;
                    top: 25%;
                    color: rgba(0, 0, 0,0.6);
                    font-size: 18px;
                    width: 62%;
                    @include abab
                }
                & .address{
                    position: absolute;
                    left: 22%;
                    top: 45%;
                    color: rgba(0, 0, 0,0.6);
                    font-size: 18px;
                    width: 62%;
                    @include abab
                }
           
                & .price{
                    position: absolute;
                    right: 3%;
                    top: 30%;
                    font-size: 28px;
                    color: rgb(253,76,56);
                    font-weight: bold;
                    .per{
                        color: rgba(0, 0, 0,0.5);
                        position: absolute;
                        font-size: 16px;
                        right: 0;
                    }
                }
           
                & .ts{
                    position: absolute;
                    left: 22%;
                    top: 65%; 
                    display: flex;
                    gap: 10px;
                    & .tsitems{
                        color: rgba(0, 0, 0,0.6);
                        font-size: 16px;
                        background-color:rgb(103,205,219);
                        padding: 0 5px;
                        color: white;
                        border-radius: 3px2;
                    }
                }
           
            }
        }
        .hotnew{
            position: absolute;
            right: 0;
            top: 5px;
            width: 28%;
            height: 200px;

            & .title{
                font-size: 20px;
                font-weight: bold;
                width: 100%;
                position: relative;
                cursor: pointer;
                &:hover{
                    color: rgb(35,201,147);
                }
                .to{
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .hotqs{
                width: 100%;
                margin-top: 20px;
                .qsitems{
                    margin-top: 0px;
                    font-size: 17px;
                    color: rgba(0,0,0,0.6);
                    cursor: pointer;
                    @include abab;
                    padding: 10px 0;
                    &:hover{
                        color: rgb(35,201,147);
                        box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
                    }
                }
            }
        }
    }
   
}